.mg-top-5{
    margin-top:50px;
}

.pad-left-12{
    padding-left: 12px;
}
.oip-container{
    position: relative;
    margin-top: 38px;
}

.omni-ip{
    border-radius: 40px;
    padding-left: 26px;
    padding-right: 40px;
}


.btn-send{
    position: absolute;
    right: 8px;
    top:9px;
}

.option-container{
    position: absolute;
    width: 100%;
    /* background-color: orange; */
    min-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    margin: auto;
}


.option-item{
    position: relative;
    float: left;
    width:fit-content;
    height: 30px;
    border:1px solid grey;
    border-radius: 40px;
    padding-left: 24px;
    padding-right:24px;
    margin-left: 6px;
    margin-right:6px;
    margin-top:4px;
    margin-bottom:4px;
    cursor: pointer;
}

.option-item:hover{
    border: 1px solid black
}