
 .form-container{
     height:calc(100vh - 50px);
     background:#f9f9fa;
     margin:0;
     padding:0;
 }

 .form-sections-container{
    height: 60px;
    overflow: hidden;
    width: 100%;
    margin: 0;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.03), 0 1px 2px rgba(0,0,0,0.06) !important;
    border-bottom: 2px solid #f9f9fa;
}

 .form-conversation-container{
     height:calc(100vh - 110px);
     background:#fff;
     margin:0;    
 }

 .live-form-container{
    height: calc(100vh - 110px);
    margin:0;
    padding: 0px;
    border-right:3px solid #f9f9fa;
 }
 
 .conversation-msg{
    min-width: 20px;    
    width: fit-content;
    border-radius: 40px;
    /* width: 94%; */
    padding:5px 15px;
    min-height: 24px;
    font-size:13px;
    font-weight: 400;
    background-color: #f7f7f9;
}

.conversation-message-container{
    margin:7px 0;
}

.section-item-selected{
    background:#084F75;
    margin: 0 !important;
}

.section-item-number{
    font-size:10px;
    font-weight: 400;
    opacity: 0.4;
}

.section-item-label{
    font-size:14px;
    font-weight: 500;
    opacity: 0.4;
}

.section-item-selected >
.section-item-number,
.section-item-selected >
.section-item-label
{
    color:#fff;
    opacity:1;
}

.conversation-container{
    height:calc(100vh - 110px);
}

 @media (max-width: 575.98px) { 
    .live-form-container{
        display: none
    }

    .conversation-msg{
        min-width: 20px;    
        width: fit-content;
        border-radius: 40px;
        /* width: 94%; */
        padding:5px 15px;
        min-height: 24px;
        font-size: 14px;
        font-weight: 400;
        background-color: #f7f7f9;
    }

    .conversation-item-area{
        /* height: 100%;
        overflow-y: auto; */
    }

    .form-section-item{
        height: 100%;
        padding: 12px;
        float: left;
        margin:0 10px;
        width: 40%;
        border-right:1px solid #FAFAF9;
        cursor: pointer;
    }
    
}


@media (max-width: 767.98px) {

    .live-form-container{
        display: none
    }
 }
 .conversation-area{
    height: calc(100vh - 170px);
    overflow: auto;
    margin-bottom:10px;
 }
 
 .conversation-area::-webkit-scrollbar { 
    display: none; 
}

 .input-area{
    /* position: relative;
    height: 16%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    overflow-x: scroll; */
 }

 .imagePreview img{
     height: 80px;
 }



.form-section-container{
    width: 100%;
    height: 60px;   
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y:hidden;
}

.form-section-container::-webkit-scrollbar { 
    display: none; 
}

.form-section-item{
    max-height: 60px;
    padding: 12px 10px;
    margin:0 7px;
    width: 160px;
    border-right:1px solid #FAFAF9;
    cursor: pointer;
    flex:0 0 auto;
}

.user-message{
    background-color: #036CA4;
    margin-left: auto;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 10px 10px 10px 10px;
    width: fit-content;
}

.modal-content{
    height: 100vh;
}


.live-form-item{
    padding-left: 10px;
    border-bottom: 1px solid #fbfdfb;
    min-height: 50px;
    padding-top: 5px;
    cursor: pointer;
}

.live-form-item:hover{
    background-color: #084F75;
    color: #ffff
}

.live-form-title{
    font-size: 14px;
}

.live-form-value{
    font-size: 16px;
    font-weight: 500;
    margin-top: 4px;
}